@import "tailwindcss";

/* Light theme (default) */
:root {
  --vh: 1vh;
  --light-100: #ffffff;
  --light-200: #f1f1f1;
  --light-300: #f5f5f5;
  --dark-100: #222220;
  --dark-200: #666666;
  --dark-300: #E5E4E2;
  --dark-400: #B0B0B0;
  --border-100: #222220;
  --yellow-100: #FFF1D6;
  --yellow-200: #F2C078;
  --yellow-300: #B7791F;
  --green-100: #DFF7EA;
  --green-200: #7ED0A9;
  --green-300: #2F8F68;
  --red-100: #FFE3E8;
  --red-200: #F4A3B1;
  --red-300: #B94B63;
}

body {
  background: var(--light-100);
  color: var(--dark-100);
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ticketing";
  src: url("./assets/fonts/ticketing.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}